<div class="properties-area pt-100 pb-75 bg-f2f7fa">
    <div class="container">
        <div class="section-title">
            <h2>Popular with cruise travelers</h2>
        </div>
        <div class="properties-slides">
            <owl-carousel-o [options]="propertiesSlides">
                <ng-template carouselSlide>
                    <div class="single-properties-item">
                        <img src="assets/images/bookings/booking6.jpg" alt="Image">
                        <div class="content">
                            <h3>Los Angeles</h3>
                            <span>1-5 days</span>
                        </div>
                        <a routerLink="/hotels-listing" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-properties-item">
                        <img src="assets/images/bookings/booking7.jpg" alt="Image">
                        <div class="content">
                            <h3>Pacific Coast</h3>
                            <span>1-3 days</span>
                        </div>
                        <a routerLink="/hotels-listing" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-properties-item">
                        <img src="assets/images/bookings/booking8.jpg" alt="Image">
                        <div class="content">
                            <h3>California</h3>
                            <span>2-3 days</span>
                        </div>
                        <a routerLink="/hotels-listing" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-properties-item">
                        <img src="assets/images/bookings/booking9.jpg" alt="Image">
                        <div class="content">
                            <h3>Alaska</h3>
                            <span>4-6 days</span>
                        </div>
                        <a routerLink="/hotels-listing" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-properties-item">
                        <img src="assets/images/bookings/booking1.jpg" alt="Image">
                        <div class="content">
                            <h3>Hotels</h3>
                            <span>4-7 days</span>
                        </div>
                        <a routerLink="/hotels-listing" class="link-btn"></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>