<div class="destinations-area pb-75">
    <div class="container">
        <div class="section-title text-center">
            <h2>Our most popular destinations</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-destinations-box">
                    <img src="assets/images/hotels/hotel18.jpg" alt="hotel-image">
                    <h3>Asia</h3>
                    <a routerLink="/cruises" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-destinations-box">
                    <img src="assets/images/hotels/hotel19.jpg" alt="hotel-image">
                    <h3>Europe</h3>
                    <a routerLink="/cruises" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-destinations-box">
                    <img src="assets/images/hotels/hotel20.jpg" alt="hotel-image">
                    <h3>North America</h3>
                    <a routerLink="/cruises" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-destinations-box">
                    <img src="assets/images/hotels/hotel21.jpg" alt="hotel-image">
                    <h3>Australia</h3>
                    <a routerLink="/cruises" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-destinations-box">
                    <img src="assets/images/hotels/hotel22.jpg" alt="hotel-image">
                    <h3>South America</h3>
                    <a routerLink="/cruises" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-destinations-box">
                    <img src="assets/images/hotels/hotel23.jpg" alt="hotel-image">
                    <h3>Africa</h3>
                    <a routerLink="/cruises" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>