<div class="cruise-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Featured cruise deals</h2>
        </div>
        <div class="cruise-slides">
            <owl-carousel-o [options]="cruiseSlides">
                <ng-template carouselSlide>
                    <div class="single-cruise-box">
                        <a routerLink="/hotel-details" class="d-block">
                            <img src="assets/images/cruise/cruise4.jpg" alt="cruise-image">
                        </a>
                        <div class="content">
                            <h3>
                                <a routerLink="/hotel-details">
                                    7 Night Cruise to Los Angeles - California
                                </a>
                            </h3>
                            <p>Ship: Seashore</p>
                            <p>Sailing Date: 03 Oct, 2023</p>
                            <p>Departs: United States</p>
                            <div class="d-flex align-items-center">
                                <a routerLink="/flights-listing" class="default-btn">Find flight</a>
                                <div class="price">
                                    <h4>$250</h4>
                                    <span>Economy</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-cruise-box">
                        <a routerLink="/hotel-details" class="d-block">
                            <img src="assets/images/cruise/cruise5.jpg" alt="cruise-image">
                        </a>
                        <div class="content">
                            <h3>
                                <a routerLink="/hotel-details">
                                    5 Night Cruise to Mazatlan - Pacific Coast
                                </a>
                            </h3>
                            <p>Ship: Seashore</p>
                            <p>Sailing Date: 04 Oct, 2023</p>
                            <p>Departs: Mexico</p>
                            <div class="d-flex align-items-center">
                                <a routerLink="/flights-listing" class="default-btn">Find flight</a>
                                <div class="price">
                                    <h4>$300</h4>
                                    <span>Business</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-cruise-box">
                        <a routerLink="/hotel-details" class="d-block">
                            <img src="assets/images/cruise/cruise6.jpg" alt="cruise-image">
                        </a>
                        <div class="content">
                            <h3>
                                <a routerLink="/hotel-details">
                                    6 Night Cruise to Puerto Vallarta - Jalisco
                                </a>
                            </h3>
                            <p>Ship: Seashore</p>
                            <p>Sailing Date: 05 Oct, 2023</p>
                            <p>Departs: Japan</p>
                            <div class="d-flex align-items-center">
                                <a routerLink="/flights-listing" class="default-btn">Find flight</a>
                                <div class="price">
                                    <h4>$200</h4>
                                    <span>Classic</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-cruise-box">
                        <a routerLink="/hotel-details" class="d-block">
                            <img src="assets/images/cruise/cruise4.jpg" alt="cruise-image">
                        </a>
                        <div class="content">
                            <h3>
                                <a routerLink="/hotel-details">
                                    7 Night Cruise to Los Angeles - California
                                </a>
                            </h3>
                            <p>Ship: Seashore</p>
                            <p>Sailing Date: 02 Oct, 2023</p>
                            <p>Departs: Turkey</p>
                            <div class="d-flex align-items-center">
                                <a routerLink="/flights-listing" class="default-btn">Find flight</a>
                                <div class="price">
                                    <h4>$456</h4>
                                    <span>Business</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-cruise-box">
                        <a routerLink="/hotel-details" class="d-block">
                            <img src="assets/images/cruise/cruise5.jpg" alt="cruise-image">
                        </a>
                        <div class="content">
                            <h3>
                                <a routerLink="/hotel-details">
                                    5 Night Cruise to Mazatlan - Pacific Coast
                                </a>
                            </h3>
                            <p>Ship: Seashore</p>
                            <p>Sailing Date: 01 Oct, 2023</p>
                            <p>Departs: Canada</p>
                            <div class="d-flex align-items-center">
                                <a routerLink="/flights-listing" class="default-btn">Find flight</a>
                                <div class="price">
                                    <h4>$123</h4>
                                    <span>Classic</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-cruise-box">
                        <a routerLink="/hotel-details" class="d-block">
                            <img src="assets/images/cruise/cruise6.jpg" alt="cruise-image">
                        </a>
                        <div class="content">
                            <h3>
                                <a routerLink="/hotel-details">
                                    6 Night Cruise to Puerto Vallarta - Jalisco
                                </a>
                            </h3>
                            <p>Ship: Seashore</p>
                            <p>Sailing Date: 06 Oct, 2023</p>
                            <p>Departs: Thailand</p>
                            <div class="d-flex align-items-center">
                                <a routerLink="/flights-listing" class="default-btn">Find flight</a>
                                <div class="price">
                                    <h4>$321</h4>
                                    <span>Advance</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>