.video-area {
    position: relative;
    z-index: 1;

    &::before {
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        content: '';
        position: absolute;
        background-color: #faf1ed;
    }
}
.video-box {
    border-radius: 10px;
	position: relative;
	z-index: 1;

	img {
		border-radius: 10px;
	}
    .video-btn {
        top: 50%;
        left: 50%;
        padding: 0;
        z-index: 1;
        width: 120px;
        border: none;
        height: 120px;
        line-height: 1;
        margin-top: 5px;
        font-size: 120px;
        position: absolute;
        display: inline-block;
        color: var(--whiteColor);
        background-color: transparent;
        transition: var(--transition);
        transform: translateY(-50%) translateX(-50%);

        &::after, &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            z-index: -1;
            display: block;
            border-radius: 0;
            border-radius: 50%;
            position: absolute;
            transition: var(--transition);
            animation: ripple 1.6s ease-out infinite;
            background-color: rgba(146, 77, 255, 0.8);
        }
        &:hover {
            color: var(--primaryColor);
        }
    }
	.video-shape {
		z-index: -1;
		right: -50px;
		bottom: -50px;
		position: absolute;
	}
}
@keyframes ripple {
	0%, 35% {
		transform: scale(0);
	  	opacity: 1;
	}
	50% {
		transform: scale(1.5);
	  	opacity: 0.8;
	}
	100% {
	  	opacity: 0;
		transform: scale(2);
	}
}

// Video Popup
.video-popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    .popup-inner {
        width: 720px;
        padding: 20px;
        position: relative;
        border-radius: 5px;
        background-color: var(--whiteColor);
        margin: {
            left: auto;
            right: auto;
        };
        iframe {
            width: 100%;
            height: 426px;
            border-radius: 5px;
        }
        .close-btn {
            top: -15px;
            width: 35px;
            right: -10px;
            border: none;
            height: 35px;
            font-size: 20px;
            line-height: 31px;
            border-radius: 50%;
            position: absolute;
            transition: var(--transition);
            background-color: var(--whiteColor);

            &:hover {
                background-color: red;
                color: var(--whiteColor);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .video-box {
        border-radius: 5px;
    
        img {
            border-radius: 5px;
        }
        .video-btn {
            width: 50px;
            height: 50px;
            font-size: 50px;
        }
        .video-shape {
            display: none;
        }
    }

    // Video Popup
    .video-popup {
        .popup-inner {
            width: 300px;
            padding: 10px;
            
            iframe {
                width: 100%;
                height: 177px;
            }
            .close-btn {
                width: 30px;
                right: -5px;
                height: 30px;
                font-size: 18px;
                line-height: 31px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .video-box {
        .video-btn {
            width: 70px;
            height: 70px;
            font-size: 70px;
        }
    }

    // Video Popup
    .video-popup {
        .popup-inner {
            width: 400px;
            
            iframe {
                width: 100%;
                height: 238px;
            }
            .close-btn {
                right: -10px;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .video-box {
        .video-btn {
            width: 80px;
            height: 80px;
            font-size: 80px;
        }
        .video-shape {
            display: none;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .video-box {
        .video-btn {
            width: 100px;
            height: 100px;
            font-size: 100px;
        }
        .video-shape {
            right: -20px;
            bottom: -20px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .video-box {
        .video-shape {
            right: -20px;
            bottom: -20px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}