<!-- Default Download App Section -->
<div
    class="app-download-area pb-100"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/about'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-download-content">
                    <h2>Download today and get your free copy from Apple and Play Store</h2>
                    <p>Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada.</p>
                    <div class="store-play-btn">
                        <a href="#" target="_blank">
                            <img src="assets/images/google-play.png" alt="google-play">
                        </a>
                        <a href="#" target="_blank">
                            <img src="assets/images/apple-store.png" alt="apple-store">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-download-image">
                    <img src="assets/images/play-store-img.png" alt="app-download-image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Download App Section for Home Demo 2 & About Page -->
<div
    class="app-download-area bg-f2f7fa d-none"
    [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/about'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="app-download-image two">
                    <img src="assets/images/play-store-img-2.png" alt="app-download">
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="app-download-content style-two">
                    <h2>Download today and get your free copy from Apple and Play Store</h2>
                    <p>Donec rutrum congue leo eget malesuada. Donec sollicitudin molestie malesuada. Cras ultricies ligula sed magna dictum porta. Donec rutrum congue leo eget malesuada. Donec rutrum congue leo eget malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
                    <div class="store-play-btn">
                        <a href="#" target="_blank">
                            <img src="assets/images/google-play.png" alt="google-play">
                        </a>
                        <a href="#" target="_blank">
                            <img src="assets/images/apple-store.png" alt="apple-store">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>