<div class="blog-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Booking inspiration from our blog</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-post">
                    <a routerLink="/blog-details" class="d-block">
                        <img src="assets/images/blog/blog-1.jpg" alt="blog-image">
                    </a>
                    <div class="blog-content">
                        <span>September 26, 2023</span>
                        <h3>
                            <a routerLink="/blog-details">
                                How to attract young travelers to book your hotel
                            </a>
                        </h3>
                        <a routerLink="/blog-details" class="read-more">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <ul class="blog-list">
                    <li class="d-flex align-items-center">
                        <a routerLink="/blog-details" class="flex-shrink-0">
                            <img src="assets/images/blog/blog-2.jpg" alt="blog-image">
                        </a>
                        <div class="blog-list-content flex-grow-1 ms-4">
                            <span>September 25, 2023</span>
                            <h3>
                                <a routerLink="/blog-details">
                                    10 Tips to reduce your card processing costs
                                </a>
                            </h3>
                            <a routerLink="/blog-details" class="read-more">Read More</a>
                        </div>
                    </li>
                    <li class="d-flex align-items-center">
                        <a routerLink="/blog-details" class="flex-shrink-0">
                            <img src="assets/images/blog/blog-3.jpg" alt="blog-image">
                        </a>
                        <div class="blog-list-content flex-grow-1 ms-4">
                            <span>September 24, 2023</span>
                            <h3>
                                <a routerLink="/blog-details">
                                    The security risks of changing package owners
                                </a>
                            </h3>
                            <a routerLink="/blog-details" class="read-more">Read More</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>